body {
    margin: 0;
  text-align: center;
  font-family: sans-serif;
  min-height: 100vh;
  min-width: 100vh;
  background-color: grey;
  box-sizing: border-box;   
  display: grid;
    justify-content: center;
    align-content: center;
    

}
section {
  height: fit-content;
  width: fit-content;
  margin: 0;
  border: 5px solid black;
  background-size: cover;
  background-color:#aabaa2;
  background-position: center center;
  background-size: cover;
}
h1 {
  margin: 0;
  padding: 0;
}
button {
  background-color: #6c7e7d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
input {
  background-color: #aabaa2;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  height: 30px;
  width: 30px;
  border: 3px solid black;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
