body {
  text-align: center;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: grey;
  box-sizing: border-box;
  display: grid;
  grid-template: 1fr 1fr;
  justify-content: center;
  align-content: center;
}
section {
  border: 5px solid black;
  background-size: cover;
  background-color: #aabaa2;
}
h1 {
  margin: 0;
  padding: 5px 5px;
}
button {
  background-color: #6c7e7d;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 4px #5a6968;
}
button:hover {
  opacity: 0.9;
  top: 1px;
}
button:active {
  top: 6px;
  box-shadow: 0 0 #ffffff;
  outline: none;
  border: none;
}
input {
  background-color: #aabaa2;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  height: 30px;
  width: 30px;
  border: 3px solid black;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
